*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: skyblue;
    height: 100%;
    width: 100%;
}
.container{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 35%;

}
.input{
    margin: 30px 20px;
    margin-left: 20px;
}
.heading{
    font-size: 4.7rem;
    margin-left: 30px;
}
#inputElement{
    padding: 15px 20px;
    width: 400px;
    box-shadow: 0 0 15px ;
}
.element{
    height: 30px;
    width:100px;
    margin-left: 20px;
    box-shadow: 0 0 10px ;
}
.element:hover{
  background-color: lightgrey;
  box-shadow: 0 0 10px ;
}
.cart{
    margin-left: 100px;
    font-size: 3.7rem;
}
.list{
    margin-left: 100px;
    font-size: 3.7rem;
    
}